<html>
	<head>
		<title>Eric's Picross Game</title>
		<style>
			table, th, td {
				border: 3px solid black;
				border-collapse: collapse;

				}

			 .center {
			   margin-left: auto;
			   margin-right: auto;
			}
    	</style>
	</head>
<body oncontextmenu="return false;">

	<p align='center'><input id="tut" type="button" value="How to play" /></p>
	<p align='center'><input id="hint" type="button" value="Hint"/></p>
	<p align='center' id="difficulty"></p>
	<p align='center' id="hints"></p>

<p hidden align='center' id="puzzleName" th:text="${puzzleFound.getPuzzleName()}"></p>
<p hidden align='center' id="puzzleData" th:text="${puzzleFound.getPuzzleData()}"></p>
<p hidden align='center' id="puzzleHeight" th:text="${puzzleFound.getPuzzleHeight()}"></p>
<p hidden align='center' id="puzzleWidth" th:text="${puzzleFound.getPuzzleWidth()}"></p>
<p hidden align='center' id="puzzleCode" th:text="${puzzleFound.getId()}"></p>

<form action="#" th:action="@{/picrossCode}" th:object="${picrossCode}" method="post">
<p align='center'><input type="submit" id="submit" style="display: none"/></p>

	<p align='center' id="status">Press "New game" to start</p>

	<script>
	var winStreak=0;
	var winCheckFlag=1;

	var hintAmt=0;

	var gameBoard=[puzzleWidth];
	var playerBoard=[puzzleWidth];

	var rowLabels=[puzzleWidth];
	var columnLabels=[puzzleHeight];
	var helpBtn = document.getElementById("tut");
	var startBtn = document.getElementById("start");
	var hintBtn = document.getElementById("hint");
	var gameInProgress=0;

	/*var puzzleName = "5x3 test";
	var puzzleData = "OOOOOXXXXXOOOOO";
	var puzzleWidth = 5;
	var puzzleHeight = 3;
	var puzzleCode = "535353";*/

	var puzzleName = document.getElementById("puzzleName").innerHTML;
	var puzzleData = document.getElementById("puzzleData").innerHTML;
	var puzzleWidth = document.getElementById("puzzleWidth").innerHTML;
	var puzzleHeight = document.getElementById("puzzleHeight").innerHTML;
	var puzzleCode = document.getElementById("puzzleCode").innerHTML;

	function tableCreate(gameHeight, gameWidth)
	{
		//console.log("GameSize: "+gameSize);
	  //body reference
	  var body = document.getElementsByTagName("body")[0];

	  // create elements <table> and a <tbody>
	  var tbl = document.createElement("table");
	  tbl.id=("game");
	  tbl.style.width  = "100px";
	  tbl.align = 'center';

		var creationCheck=document.getElementById("game");
		console.log(creationCheck);

	  if(creationCheck!=null)
	  {
	  	creationCheck.remove();
	  }

	  var tblBody = document.createElement("tbody");

	  var rowa = document.createElement("tr");
	  var de = document.createElement("td");

	  rowa.appendChild(de);

	  for(var k=0; k<gameWidth; k++)
	  {
		var header = document.createElement("th");
		header.scope="col";
		header.id="column"+(k+1);
	    rowa.appendChild(header);
	  }

	  tblBody.appendChild(rowa);

	  // cells creation
	  for (var j = 0; j < gameHeight; j++) {
	    // table row creation
	    var row = document.createElement("tr");
	    row.id="r"+(j+1);

	    var header = document.createElement("th");
	    header.scope="row";
	    header.id="row"+(j+1);
	    row.appendChild(header);

	    for (var i = 0; i < gameWidth; i++) {
	      // create element <td> and text node
	      //Make text node the contents of <td> element
	      // put <td> at end of the table row
	      var cell = document.createElement("td");
	      cell.id="row"+(j+1)+"column"+(i+1);
	      //var cellText = document.createTextNode("cell is row " + j + ", column " + i);

	      var input = document.createElement("input");
	      input.id="r"+(j+1)+"c"+(i+1);
	      input.type="button";
	      input.style="background: white; width: 65px; height: 65px; font-size:40px";
	      input.value="";
	      input.onmousedown=setValue;


	      cell.appendChild(input);
	      row.appendChild(cell);
	    }

	    //row added to end of table body


	    tblBody.appendChild(row);
	  }

	  // append the <tbody> inside the <table>
	  tbl.appendChild(tblBody);
	  // put <table> in the <body>
	  body.appendChild(tbl);
	  // tbl border attribute to
	  tbl.setAttribute("border", "2");

	  console.log(tbl);
	}

	function fillBoard(boardToFill)
	{
		for(var j=0; j<puzzleHeight; j++)
		{
			boardToFill[j]=new Array(puzzleWidth);
		}
	}

	function clearHTMLBoard()
	{
		for(var i=0; i<puzzleWidth; i++)
		{
			for(var j=0; j<puzzleHeight; j++)
			{
				var name="r"+(i+1)+"c"+(j+1);//Used for the grid ID names

				document.getElementById(name).value=""
				document.getElementById(name).style.background="white";
			}
		}
	}

	function updateGameBoard()
	{
		for(var i=0; i<puzzleHeight; i++)
		{
			for(var j=0; j<puzzleWidth; j++)
			{
				var name="r"+(i+1)+"c"+(j+1);//Used for the grid ID names

				if(document.getElementById(name).value=="")
				{
					playerBoard[i][j]="X";
				}
				else
				{
					playerBoard[i][j]=document.getElementById(name).value//Gets values in game board
				}

			}
		}
		console.log(playerBoard);
		console.log(gameBoard);
	}

	function checkForWin()
	{
		var win=1;
		for(var i=0; i<puzzleHeight; i++)
		{
			for(var j=0; j<puzzleWidth; j++)
			{
				if(gameBoard[i][j]!=playerBoard[i][j])
				{
					win=0;
				}
			}
		}

		if(win==1 && winCheckFlag==1)
		{
			document.getElementById('hints').value=document.getElementById('hint').value;
			console.log(document.getElementById('hints').value);
			document.getElementById('submit').click();
			//winStreak++;
			//totalWins++;
			//document.getElementById("status").innerHTML="YOU WIN!\n Puzzles completed: "+winStreak;
			gameInProgress=0;
			winCheckFlag=0;
		}
		else
		{
		}
	}

	function createRandomPuzzle()
	{
		var locInData=0;
		var fillCount=0;

		for(var i=0; i<puzzleHeight; i++)
		{
			for(var j=0; j<puzzleWidth; j++)
			{
				var currentPiece=puzzleData[locInData];
				gameBoard[i][j]=currentPiece;

				if(currentPiece=="O")
				{
					fillCount++;
				}
				locInData++;
			}
		}

	}



	function fillHeaders()
	{
		var reverseBoard=[puzzleWidth];

		for(var j=0; j<puzzleWidth; j++)
		{
			reverseBoard[j]=new Array(puzzleHeight);
		}

		console.log(reverseBoard);

		for(var i=0; i<puzzleHeight; i++)
		{
			for(var j=0; j<puzzleWidth; j++)
			{
				reverseBoard[j][i]=gameBoard[i][j];
			}
		}

		for(var i=0; i<puzzleHeight; i++)
		{
			rowLabels[i]=checkData(gameBoard[i]);
		}

		for(var i=0; i<puzzleWidth; i++)
		{
			columnLabels[i]=checkData(reverseBoard[i]);
		}

		console.log("Row lables: "+rowLabels);
		updateRows();
		updateColumns();
	}

	function checkData(check)
	{
		var currentString="";
		var currentCount=0;
		var zeroCheck=1;//Used in the event a row has no spots that should be filled

		for(var i=0; i<check.length; i++)
		{
			if(i==check.length-1 && check[i]=="O")
			{
				zeroCheck=0;
				currentCount++;
				currentString+=currentCount;
				currentCount=0;
			}
			else if(check[i]=="O")
			{
				zeroCheck=0;
				currentCount++;
			}
			else
			{
				if(currentCount!=0)
				{
					zeroCheck=0;
					currentString+=currentCount;
					currentString+=" ";
					currentCount=0;
				}
			}
		}

		if(zeroCheck==1)
		{
			currentString="0";
		}

		return currentString;
	}

	function updateRows()
	{
		var globalRow="row"
		var startingRow=0;

		for(var o=0; o<puzzleHeight; o++)
		{
			startingRow++;
			var comb=globalRow+startingRow;
			document.getElementById(comb).innerHTML=rowLabels[o];
		}
	}

	function updateColumns()
	{
		var globalRow="column"
		var startingColumn=0;

		for(var o=0; o<puzzleWidth; o++)
		{
			startingColumn++;
			var comb=globalRow+startingColumn;
			document.getElementById(comb).innerHTML=columnLabels[o];
		}
	}

	function setValue(toBeUpdated)
	{
		var newToBeUpdated = toBeUpdated.target.id;
		//console.log(document.getElementById(newToBeUpdated));

		var cheatButton=false;
		var pos=newToBeUpdated.split("c");
		pos[0]=pos[0].replace("r"," ");

		pos[0]-=1;
		pos[1]-=1;

		if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent))//Used for mobile
		{
			if(document.getElementById(newToBeUpdated).value=="" && gameInProgress==1)
			{
				document.getElementById(newToBeUpdated).value="O";
				document.getElementById(newToBeUpdated).style.background="black";
			}
			else if(document.getElementById(newToBeUpdated).value=="O" && gameInProgress==1)
			{
				document.getElementById(newToBeUpdated).value="X";
				document.getElementById(newToBeUpdated).style.background="white";
			}
			else if(document.getElementById(newToBeUpdated).value=="X" && gameInProgress==1)
			{
				document.getElementById(newToBeUpdated).value="";
				document.getElementById(newToBeUpdated).style.background="white";
			}
		}
		else
		{
			if(toBeUpdated.button==0 && gameInProgress==1)
			{
				if(document.getElementById(newToBeUpdated).value=="" && gameInProgress==1)
				{
					document.getElementById(newToBeUpdated).value="O";
					document.getElementById(newToBeUpdated).style.background="black";
				}
				else
				{
					document.getElementById(newToBeUpdated).value="";
					document.getElementById(newToBeUpdated).style.background="white";
				}
			}
			else if(toBeUpdated.button==1 && gameInProgress==1 && cheatButton)
			{
				if(hintAmt>0)
				{
					if(gameBoard[pos[0]][pos[1]]=="O" && gameInProgress==1)
					{
						document.getElementById(newToBeUpdated).value="O";
						document.getElementById(newToBeUpdated).style.background="black";
					}
					else
					{
						document.getElementById(newToBeUpdated).value="X";
						document.getElementById(newToBeUpdated).style.background="white";
					}
					hintAmt--;
					hintBtn.value=hintAmt+" hints left!";
					document.getElementById("status").innerHTML=hintAmt+" hints left!";
				}
			}
			else if(toBeUpdated.button==2 && gameInProgress==1)
			{
				if(document.getElementById(newToBeUpdated).value=="" && gameInProgress==1)
				{
					document.getElementById(newToBeUpdated).value="X";
					document.getElementById(newToBeUpdated).style.background="white";
				}
				else
				{
					document.getElementById(newToBeUpdated).value="";
					document.getElementById(newToBeUpdated).style.background="white";
				}
			}
		}
		updateGameBoard();
		checkForWin();
	}

	function giveHints(difficulty)
	{
		console.log("Difficulty hint: "+difficulty);
		hintAmt=0;
		hintBtn.disabled=false;

		switch(difficulty)
		{
			case 10: hintAmt+=0.0;break;
			case 9: hintAmt+=0.5;break;
			case 8: hintAmt+=0.75;break;
			case 7: hintAmt+=1.0;break;
			case 6: hintAmt+=1.5;break;
			case 5: hintAmt+=2.25;break;
			case 4: hintAmt+=2.5;break;
			case 3: hintAmt+=3.5;break;
			case 2: hintAmt+=4.5;break;
			case 1: hintAmt+=6.5;break;
			default: hintAmt+=999;break;
		}

		switch(puzzleHeight)
		{
			case 5: hintAmt+=1.25;break;
			case 6: hintAmt+=2.25;break;
			case 7: hintAmt+=2.5;break;
			case 8: hintAmt+=2.75;break;
			case 9: hintAmt+=3.0;break;
			case 10: hintAmt+=3.5;break;
			default: hintAmt+=999;break;
		}

		hintAmt=Math.floor(hintAmt);
		hintBtn.value=hintAmt+" hints left!";
	}

	function startGame(difficulty)
	{
		tableCreate(puzzleHeight, puzzleWidth);
		document.getElementById("difficulty").innerHTML=difficulty;
		document.getElementById("difficulty").value=difficulty;
		console.log("HiddenDifficulty: "+document.getElementById("difficulty").innerHTML);
		//setPuzzleSize();//Disabled due to Chrome update until it can be resolved

		giveHints(difficulty);

		fillBoard(gameBoard);

		createRandomPuzzle();

		console.log(gameBoard);

		fillHeaders();
		document.getElementById("game").style.visibility="visible";
		document.getElementById("status").innerHTML="Puzzle: " + puzzleName;

		fillBoard(playerBoard);
		gameInProgress=1;

		/*
		clearHTMLBoard();
		*/
	}



	hintBtn.onclick = function startGame()
	{
		if(gameInProgress==1 && hintAmt>0)
		{
			var rowPos=0;
			var colPos=0;
			var nameUpdate="";

			do
			{
				rowPos=Math.floor(Math.random()*puzzleSize);
				colPos=Math.floor(Math.random()*puzzleSize);
				nameUpdate="r"+(rowPos+1)+"c"+(colPos+1);
			}
			while(document.getElementById(nameUpdate).value==gameBoard[rowPos][colPos]);

			if(gameBoard[rowPos][colPos]=="O")
			{
				document.getElementById(nameUpdate).value="O";
				document.getElementById(nameUpdate).style.background="black";
			}
			else//is X
			{
				document.getElementById(nameUpdate).value="X";
				document.getElementById(nameUpdate).style.background="white";
			}

			hintAmt--;
			hintBtn.value=hintAmt+" hints left!";

			if(hintAmt==0)
			{
				hintBtn.disabled=true;
				//Update code to grey out button and make unclickable
			}

			updateGameBoard();
			checkForWin();
		}
	}

	helpBtn.onclick = function displayInstructions()
	{
		console.log(puzzleSize);
		alert("GOAL\nTo use the hints on the rows and columns to fill in the puzzle\n\nCONTROLS\nLeft click: Fill in spot\nRight click: Mark spot as incorrect\nHint: Correctly fills in one correct spot, limited use");
	}

	startGame(Math.floor(Math.random()*10)+1);
	</script>
</body>
</html>